* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
text-align: center;
}


#header {
    width: 100vw;
    height: 20vh;
    padding: 1em;
    background-color: rgb(61, 61, 201);
    font-family: 'Pokemon Solid', sans-serif;
    color: rgb(255, 255, 40);
    text-align: center;
    font-size: 2rem;
    /* -webkit-text-stroke: 1px rgb(0, 0, 0); */
    text-shadow: -1px 0 black;
}

#container{
    display: flex;
    justify-content: center;
    width: 100vw;
}

#list{
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    gap: 1.1em;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

li{
    display: flex;
    flex-direction: column;
    background-color: yellow;
    width: 10em;
    border-radius: 1.5em;
    justify-content: center;
    align-items: center;
    font-family: 'Pokemon Solid', sans-serif;
    padding: 1em;

}

